body {
    max-width: 1920px;
}

*,
*:before,
*:after {
    outline: none;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

img {
    max-width: 100%;
}