/*  Colors
**************************************** */

$c-black: #000;
$c-white: #fff;
$c-CornflowerBlue_41: #bea0f941;
$c-BrilliantRose: #F94AB3;
$c-Perfume_24: #bea0f924;


$c-gradientMobile__name-section: radial-gradient(circle, #ffffff0d 0%, #ffffff0d 18%, #ffffff0d 37%, #ffffff0d 55%, #ffffff0d 72%, #47205f5c 87%, #3019490e 97%, #2b184500 100%);
$c-gradient__name-section: radial-gradient(circle, #7d3092 0%, #7a2f90f4 18%, #742d8ae5 37%, #692a7fc2 55%, #5a257195 72%, #47205f5c 87%, #3019490e 97%, #2b184500 100%);


/*  Paddings, Margins
**************************************** */

$space-10px: 10px;
$space-20px: 20px;
$space-25px: 25px;
$space-30px: 30px;


/*  =grid
**************************************** */
$standart-100: 100px;
$standart-120: 120px;
$standart-100P: 100%;



/*  =Button
**************************************** */

$button-width: 200px;
$button-height: 68px;










