.header {
    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .header {
            &__bottom-ico {
        
                display: flex;
                flex-direction: column;
                align-items: center;
        
                img {
                    width: 65px;
                }
        
                .header {
                    &__bottom-line {
                        
                        width: 174px;
                        height: 2px;
                        margin: 50px auto 15px auto;
                        background-color: #F94AB3;
            
                    }
                    
                }
        
                p {
        
                    margin: 4px 0 80px;
                    font-size: pxToRem(18);
                }
            
            }

            &__bottom-btn {
        
                button {
                    
                    border: 0.1px solid white;
                    width: 365px;
                    height: 100px;
                    border-radius: 14px;
                    @include transitionOpacity(.3s);
        
                    color: white;
        
                    p {
                        width: 68%;
                        margin: 0;
                    }
        
                }
            }
            
        }
    }
}

@media only screen and (max-width: 425px) {
    .header {
        &__bottom {
            .header {
                &__bottom-ico {
                    .header {
                        &__bottom-line {
                            background-color: $c-white;
                        }
                    }
                }
    
                &__bottom-btn {
                    button {
                        width: 290px;
                        height: 80px;
                        
                        p {
                            font-size: pxToRem(18)
                        }
                    }
                }
            }
        }
    }
}