.header {
    &__wrapper {
        background-repeat: no-repeat ;
        background-size: cover;
        width: 100vw;
        height: 100vh;
    
        text-transform: uppercase;
        font-size: pxToRem(25);
        font-family: 'Montserrat', sans-serif;
        color: $c-white;
    
        .header {
            &__ico {
                padding: 34px 0 23px 44px;
            }
    
            &__section {
    
                @include displayFlex();
                @include flexJustifyContent(center,center,center);
                text-align: center;
            
                .header {
                    &__content {
        
                        width: 75%;
                        @include displayFlex();
                        @include flexDirection(vertical,normal,column);
                        @include flexAliginItems(center, center, center);
                        padding-left: $space-20px;
            
                        .header {
                            &__label {
                                margin-bottom: 50px;
                            }

                            &__name {
                                width: 40%;
                            }
                        
                            &__name-section {
                                height: 65px;
                                align-items: center;
                                display: flex;
                                justify-content: center;
                                margin-bottom: 70px;
                                background-position-x: center;
                                background-size: 100%;
                            }

                            &__name-counter {
                                display: none;
                                position: relative;
                                width: 114px;
                                min-width: 114px;

                                .header__name-number   {
                                    position: absolute;
                                    top: 34px;
                                    left: 25px;
                                }
                            }

                            &__question {
                                display: none;
                                max-width: 1090px;
                                text-transform: none
                            }
                        }
                
                    }
                }
        
                .but-nav {
        
                    @include displayFlex();
                    @include flexDirection(horizontal,normal,row);
                    padding-top: 12px;
        
                    button {
                        width: 20px;
                        height: 20px;
        
                        &:hover {
                            @include hoverEffect ()
                        }
                    }
        
                    &__x {
                        background: url(../../../../assets/buttons/forAll/x.png) center no-repeat;
                    }
                    
                    &__v {
                        display: none;
                        margin-right: $space-25px;
                        background: url(../../../../assets/buttons/forAll/quizButV.png) 0px -3px no-repeat scroll transparent;
                    }
                }
            }
    
        }
    
        nav {
            @include displayFlex();
            width: 100%;
            @include flexDirection(horizontal,normal,row);
            @include flexJustifyContent(justify,justify,space-between);
            @include flexWrap(wrap);
            @include flexAliginItems(center, center, center);
            padding: 0 20%;
    
            a {
                color: $c-white;
            }
    
            .nav {
                &__text-use {
                    display: none;
                }
    
                &__item {
                    width: 200px;
                    height: 200px;
                    background: url(../../../../assets/theProgramming/ico/block.png) 0 0/cover no-repeat;
                    @include displayFlex();
                    @include flexDirection(vertical,normal,column);  
                    @include flexAliginItems(start,start,flex-start);
                    box-shadow: 3px 3px 3px 1px $c-CornflowerBlue_41;
                    border-radius: 18px;
        
                    &:hover {
                        background: url(../../../../assets/theProgramming/ico/blockHover.png) 0 0/cover no-repeat;
                        cursor: pointer;
                    }
        
                    .nav {
                        &__ico {
                            width: 60px;
                            height: 60px;
                            margin: 47px 0 0 35px;
            
                            img {
                                width: 100%;
                                object-fit: cover;
                            }
            
                        }
            
                        &__line {
                            width: 100%;
            
                            &:after {
                                content: '';
                                display: block;
                                width: 145px;
                                height: 2px;
                                margin: 37px auto $space-10px auto;
                                background-color: $c-BrilliantRose;
                            }
                        }
            
                        &__text {
                            width: 100%;
            
                            p {
                                margin: 0;
                                text-align: start;
                                margin-left: 27.5px;
                                font-size: pxToRem(16);
                            }
                        }
                    }
                }
            }
        }

        .answer__block {
            display: flex;
            justify-content: center;
            .answer__content {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                max-width: 1275px;
    
                .answer__item {
                    display: none;
                    border: 0.1px solid #8F6DD1;
                    width: 365px;
                    height: 100px;
                    border-radius: 14px;
                    transition: opacity 0.3s linear;
                    color: white;
                    align-items: center;
                    margin: 30px;
        
                    p {
                        margin-left: 10%;
                    }
                }
            }
        }

        
    }
}

@media only screen and (max-width: 1800px) {
    
    .header__wrapper {

        nav {
            padding: 0px 15%;
        }
    }
}

@media only screen and (max-width: 1550px) {
    
    .header {
        &__wrapper {

            nav {
                padding: 0px 10%;
            }
        }
    }
}


@media only screen and (max-width: 1440px) {
    
    .header {
        &__wrapper {

            nav {
                padding: 0px 5%;
    
                .nav {
                    &__item {
                        margin: 0 $space-10px $space-20px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1250px) {
    
    .header {
        &__wrapper {
            .header {
                &__section {
                    .header {
                        &__content {
                            .header {
                                &__name-section {
                                    min-width: 55%;
                                }
                            }
                        }
                    }
                }
            }
    
            nav {
                padding: 0;
                @include flexJustifyContent(center,center,center);
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    
    .header {
        &__wrapper { 
            .header {
                &__section {
                    .header {
                        &__content {
                            .header {
                                &__name-section {
                                    margin-bottom: 60px;
                                    min-width: 80%;
                                    min-width: 55%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    
    .header {
        &__wrapper {
            font-size: pxToRem(22);
    
            .header {
                &__ico {
                    display: none;
                }
        
                &__section {
                    .header {
                        &__content {
                            padding: 0;
                            .header {
                                &__label {
                                    max-width: 150px;
                                    margin: $space-20px 0 $space-30px;
                                }
                
                                &__name-section {
                                    margin-bottom: $space-25px;
                                    width: 100%;
                                }
                            }
                        }
                    }
        
                    .but-nav {
                        display: none;
                    }
                }
            }
    
            nav {
                .nav {
                    &__text-use {
                        display: block;
                        margin-bottom: $space-30px;
                        min-width: 275px;
                        text-align: center;
                    }

                    &__item {
                        width: 145px;
                        height: 145px;
                        box-shadow: 3px 3px 3px 1px $c-Perfume_24 ;
                        border-radius: 13px;
        
                        .nav {
                            &__ico {
                                width: 50px;
                                height: 50px;
                                margin: 28px 0 0 $space-20px;
                            }
            
                            &__line:after {
                                width: 118px;
                                height: 2px;
                                margin: 26px auto $space-10px auto;
                            }
            
                            &__text p {
                                margin-left: 13.5px;
                                font-size: pxToRem(14);
                            }
                        }
                    }
                }
    
                :nth-child(5) .nav {
                    &__text p {
                        margin-left: 3px;
                    }
                }
    
                
            }
        }
    }
}

@media only screen and (max-width:375px) {
    
    .header {
        &__wrapper {
            .header {
                &__section {
                    background-position: 60% 0%;
                }
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    
    .header {
        &__wrapper {
            height: auto;
            font-size: pxToRem(20);
    
            .header {
                &__section {
                    background-position: 60% 18%;
                }
            }
        }
    }
}

